<?php

/**
 * Copyright 2019 - Andrea Ruggiero
 */

return PhpCsFixer\Config::create()
    ->setRules([
        '@PSR2' => true,
        'strict_param' => true,
        'array_syntax' => ['syntax' => 'short'],
        'header_comment' => [
            'header' => 'Copyright 2019 - Andrea Ruggiero',
            'comment_type' => 'PHPDoc',
        ],
    ])
    ->setRiskyAllowed(true)
    ->setFinder(
        PhpCsFixer\Finder::create()
            ->in(__DIR__.'/src')
            ->in(__DIR__.'/tests')
            ->append([__FILE__])
    );
